<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


<div class="container-fluid">

<div class="row">
  <div class="col-sm-2">
  {% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'index' %}">Home</a></li>
  </ul>
 
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>

     <li><a href="{% url 'assign_memorizables_set_to_memorypalace_locations_and_numbers' %}">Assign memorizables to MPs</a></li>

     <li><a href="{% url 't_memorization_package_mp_technique_assignmenttype_categorys' %}">Memorization Package Kategorien</a></li>

     <li><a href="{% url 'authors' %}">Wochenziele</a></li>
<!--
    <li><a href="{% url 't_wt_is_excluded_from_dt_mp_assignment_on_weekdays_timeseries' %}">Ausschlusstage Zeitreihen</a></li>
    <li><a href="{% url 't_day_targets_sequence_timeseries' %}">Tagesziel Zeitreihen</a></li>

    <li><a href="{% url 'books' %}">Arbeitspakete</a></li>

    <li><a href="{% url 't_workpackages_actual_duration_timeseries' %}">Arbeitspaket-Ist Zeitreihen</a></li>
    <li><a href="{% url 't_information_items_tobeoperationalized' %}">ITBO</a></li>
    <li><a href="{% url 't_information_items_tobeoperationalized_memor_timeseries' %}">ITBO Zeitreihen</a></li>
    <li><a href="{% url 't_information_items_tobeoperationalized_memor_timeseries_act' %}">ITBO Aktionen</a></li>
-->
    <li><a href="{% url 't_calendars' %}">Termine</a></li>
    <li><a href="{% url 't_conflicts' %}">Konflikte</a></li>
<!--
    <li><a href="{% url 't_ausatemmuskulatur_isnot_entspannt_dueto_strategyrefinemts' %}">Konflikt Zeitreihen</a></li>
    <li><a href="{% url 't_ausatemmuskulatur_strategyrefinement_conflict_phases' %}">Konfliktphasen</a></li>
    <li><a href="{% url 't_conflict_strategy_categorys' %}">Konfliktkategorien</a></li>
    <li><a href="{% url 't_conflict_strategy_category_measures' %}">Konfliktmassnahmen</a></li>
-->
<!--
    <li><a href="{% url 't_category_tables' %}">Kategorietabellen</a></li>
    <li><a href="{% url 't_category_table_predicates_asverb' %}">Kategorieprädikate</a></li>
    <li><a href="{% url 't_category_table_entries' %}">Kategorieeinträge</a></li>
    <li><a href="{% url 't_categorys_timeseries' %}">Kategorie Zeitreihen</a></li>
-->
<!--
    <li><a href="{% url 't_memory_palaces_type' %}">Gedächtnispalast Typen</a></li>
    <li><a href="{% url 't_memory_palaces_type_location' %}">Gedächtnispalast Orte</a></li>
-->
<!--
    <li><a href="{% url 't_memory_palaces_type_location_packageassignment_timeseries' %}">Gedächtnispalast Zeitreihen</a></li>
-->
    <li><a href="{% url 't_memorization_packages_memory_palace_or_cards_technique' %}">Memorization Packages</a></li>
<!--
    <li><a href="{% url 't_memory_palaces_or_cards_memorization_timeseries' %}">Auswendiglern Zeitreihen</a></li>
    <li><a href="{% url 't_memory_palace_or_cards_memorization_timeseries_actions' %}">Auswendiglern Aktionen</a></li>
-->
     <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
  </ul>
  
   {% if user.is_staff %}
   <hr />
   <ul class="sidebar-nav">
   <li>Staff</li>
   {% if perms.catalog.can_mark_returned %}
   <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
   {% endif %}
   </ul>
    {% endif %}
 
{% endblock %}
  </div>
  <div class="col-sm-10 ">
  {% block content %}{% endblock %}
  
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
  
  
  </div>
</div>

</div>
</body>
</html>
