{% extends "base_generic.html" %}

{% block content %}

<h1>Wochenziele (vorher: Author list)</h1>

{% if author_list %}
  <ul>

  {% for author in author_list %}
    <li>
      <a href="{{ author.get_absolute_url }}">
      {{ author.memorizable_week_target }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There are no authors available.</p>
{% endif %}
        
<a href="{% url 'author_create' %}">Neu</a>
        
{% endblock %}

