{% extends "base_generic.html" %}

{% block content %}

<h1>Wochenziel Details</h1>  <!-- voher: Author -->
<p> {{ author.memorizable_week_target }} </p>
<p> Kommentar: {{ author.week_target_comment }} </p>
<!--
<p> {{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>
-->
<div style="margin-left:20px;margin-top:20px">
<h4>Arbeitspakete</h4>  <!-- voher: Books -->

<dl>
{% for book in author.book_set.all %}
  <dt>Work package: <a href="{% url 'book-detail' book.pk %}">{{book.associated_email_received_account}}</a> ({{book.bookinstance_set.all.count}})</dt>
  <dd>{{book.summary}}</dd>
{% endfor %}
</dl>

</div>
{% endblock %}
