{% extends "base_generic.html" %}

{% block content %}

<!--
<p>Title: {{ book.title }}</p>
-->
<h1>Arbeitspaket Detail</h1>   <!-- vorher: Book-Detail -->
<p></p>
<p><strong>Titel</strong> {{ book.workpackage_title }}</p>
<p><strong>Wochenziel</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p>
<p><strong>Plandauer</strong> {{ book.plan_duration_mins }} Minuten </p>
<p><strong>Due</strong> {{ book.due_datetime }} </p>
<p><strong>Pfad</strong> Datei: {{ book.filepath_for_readiness_enhancement }} Hyperlink: {{ book.hyperlink_for_readiness_enhancement }}</p> 
<p><strong>Email </strong>Erhalten am: {{ book.associated_email_received_datetime }} Betreff: {{ book.associated_email_subject }} Account: {{ book.associated_email_received_account }}</p>
<!--
<p><strong>Summary:</strong> {{ book.summary }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p> 
<p><strong>Language:</strong> {{ book.language }}</p>  
<p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
-->
<a href="{% url 'book-bookinstance-assign-memorypalace-location-and-number' book.pk %}">Assign</a>

<div style="margin-left:20px;margin-top:20px">
<h4>Memorizables</h4>

{% for copy in book.bookinstance_set.all %}
<hr>
<a href="{% url 'bookinstance-detail' copy.pk %}">{{copy.memorizable_workpackage_relevantinformation_tobememorized}}</a>
<font color="#b1b1b1"> {{copy.relevantinformation_comment}} </font>
<a href="{% url 'book-bookinstance-assign-memorypalace-location-and-number' copy.pk %}">{{copy.t_memory_palace_type_location_number.memory_palace_datapoint_description}}</a>
{% endfor %}

<p><a href="{% url 'bookinstance-create-proposed-workpackage' book.id %}">Neues Memorizable für dieses Arbeitspaket</a></p>

</div>
{% endblock %}

