{% extends "base_generic.html" %}

{% block content %}
    <h1>Arbeitspakete (vorher: Book List)</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> {{book.associated_email_received_account}} ({{book.author}})
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       

    <a href="{% url 'book_create' %}">Neu</a>

{% endblock %}

