{% extends "base_generic.html" %}

{% block content %}

<h1>Genre: {{ genre.name }}</h1>

<div style="margin-left:20px;margin-top:20px">
<h4>Books in genre</h4>

<ul>
  {% for copy in genre.book_set.all %}
  <li>
    <a href="{{ copy.get_absolute_url }}">{{ copy.title }}</a> ({{copy.author}})
  </li>
  {% empty %}
  <li>There are no books in this genre.</li>
  {% endfor %}
</ul>

{% endblock %}


{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_genre or perms.catalog.delete_genre %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_genre %}
    <li><a href="{% url 'genre-update' genre.id %}">Update Genre</a></li>
    {% endif %}
    {% if not genre.book_set.all and perms.catalog.delete_genre %}
      <li><a href="{% url 'genre-delete' genre.id %}">Delete Genre</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
