{% extends "base_generic.html" %}

{% block content %}
    <h1>Zu operationalisierende Informationseinheiten</h1>

    {% if t_information_item_tobeoperationalized_list %}
    <ul>

      {% for t_information_item_tobeoperationalized in t_information_item_tobeoperationalized_list %}
      <li>
        <a class="text-muted">{{ t_information_item_tobeoperationalized.target_group_question }}?</a>
        <a href="{{ t_information_item_tobeoperationalized.get_absolute_url }}">{{ t_information_item_tobeoperationalized.memorizable_information_item_tobeoperationalized }}</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>Es liegen keine zu operationalisierende Informationseinheiten vor.</p>
    {% endif %}       
{% endblock %}

