{% extends "base_generic.html" %}

{% block content %}

{% load app_filters %}

<h1>Gedächtnispalast Ort - Detail</h1>
<p></p>
<p> {{t_memory_palace_type_location.memory_palace_type_location}} </p>
<div style="margin-left:20px;margin-top:20px">
<h4>Gedächtnispalast Ort</h4>

<!--Gedächtnispalast Nummern-->
{% for t_memory_palace_type_location_number in t_memory_palace_type_location.t_memory_palace_type_location_number_set.all %}
<hr>
<a href="{{ t_memory_palace_type_location_number.get_absolute_url }}">{{ t_memory_palace_type_location_number.memory_palace_number }}</a>
{{ t_memory_palace_type_location_number.memory_palace_datapoint_description }}
{% endfor %}

<!--Gedächtnispalast Tageszeiten-->
{% for t_memory_palace_type_location_daytime in t_memory_palace_type_location.t_memory_palace_type_location_daytime_set.all %}
<hr>
<a href="{{ t_memory_palace_type_location_daytime.get_absolute_url }}">{{ t_memory_palace_type_location_daytime.memory_palace_daytime }}</a>
<p>{{ t_memory_palace_type_location_daytime.memory_palace_daytime_datapoint_description }}</p>
{% endfor %}

</div>

{% endblock %}