{% extends "base_generic.html" %}

{% block content %}

{% load app_filters %}

<h1>Gedächtnispalast Nummer - Detail</h1>
<p></p>
<a href="{% url 't_memory_palace_type_location-detail' t_memory_palace_type_location_number.t_memory_palace_type_location_id %}">{{t_memory_palace_type_location_number.t_memory_palace_type_location_id}}</a>
<p> {{t_memory_palace_type_location_number.memory_palace_datapoint_description}} </p>
<p> Letzter Einsatzzeitpunkt: {{t_memory_palace_type_location_number.memory_palace_datapoint_lastuse_date}} </p>

</div>

{% endblock %}