{% extends "base_generic.html" %}

{% block content %}
    <h1>Memorization Package Kategorien</h1>

    {% if t_memorization_package_mp_technique_assignmenttype_category_list %}
    <ul>

      {% for t_memorization_package_mp_technique_assignmenttype_category in t_memorization_package_mp_technique_assignmenttype_category_list %}
      <li>
        <a href="{% url 't_memorization_package_mp_technique_assignmenttype_category-detail' t_memorization_package_mp_technique_assignmenttype_category.id %}">{{ t_memorization_package_mp_technique_assignmenttype_category.category_title }}</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>Es liegen keine Memorization Package Kategorien vor.</p>
    {% endif %}       
{% endblock %}

