{% extends "base_generic.html" %}

{% block content %}

<!-- WIRD NICHT MEHR BENÖTIGT!!! Da schon in Alle Gedächtnispalast Orte enthalten -->

    <h1>Gedächtnispalast Tageszeiten</h1>
Noch einarbeiten: Nur pro Tageszeit-Gedächtnispalast anzeigen
    {% if t_memory_palace_type_location_daytime_list %}
    <ul>

      {% for t_memory_palace_type_location_daytime in t_memory_palace_type_location_daytime_list %}
      <li>
        <a href="{{ t_memory_palace_type_location_daytime.get_absolute_url }}">{{ t_memory_palace_type_location_daytime.memory_palace_daytime }}</a>
        {{ t_memory_palace_type_location_daytime.memory_palace_daytime_datapoint_description }}
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>Es liegen keine Tageszeiten vor.</p>
    {% endif %}       
{% endblock %}

